<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonPlugin.js"></script>
    <script type="text/javascript" src="../js/automobileShow.js"></script>
    <script type="text/javascript" src="../plugin/table.js"></script>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table.css"/>
    <link rel="stylesheet" type="text/css" href="../plugin/simplePagination.css">

    <link rel="stylesheet" type="text/css" href="../css/mbox.css">
    <script type="text/javascript" src="../plugin/jm-qi.js"></script>
    <title>汽车</title>
</head>
<body>
<input id="type" type="hidden"/><!--类型-->
<div class="admin-main">
    <fieldset class="layui-elem-field">
        <legend>
            <label id="caption"></label>
            <button class="layui-btn"  id="addCar">添加汽车型号</button>
        </legend>
        <div class="layui-field-box layui-form" id="Table" >
            <table id="tb" class="layui-table admin-table" >

            </table>
        </div>
    </fieldset>
</div>

</body>
</html>