<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电池库存编辑</title>
</head>
<body>
  <form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">电池型号</label>
        <div class="layui-input-inline">
            <input  id="batteryType" name="batteryType" class="layui-input"/>
        </div>
     </div>
      <div class="layui-form-item">
          <label class="layui-form-label">城市</label>
          <div class="layui-input-inline">
              <input  id="cityName" name="cityName" class="layui-input"/>
          </div>
      </div>
      <div class="layui-form-item">
          <label class="layui-form-label">省份</label>
          <div class="layui-input-inline">
             <input id="count" name="count" class="layui-input"/>
          </div>
      </div>
  </form>
</body>
</html>