<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonPlugin.js"></script>
    <script type="text/javascript" src="../js/customerInfoShow.js"></script>
    <script type="text/javascript" src="../js/sexStandardization.js"></script>
    <script type="text/javascript" src="../plugin/table.js"></script>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table.css" />

    <title>客户信息</title>
</head>
<body>
  <input id="type" type="hidden"/><!--类型-->
  <div class="admin-main">
      <fieldset class="layui-elem-field">
          <legend><label id="caption"></label></legend>
          <div class="layui-field-box layui-form" id="Table" style="width:1100px;overflow: auto;overflow-y:hidden">
              <table id="tb" class="layui-table admin-table" style="width:1100px;" >
              </table>
          </div>
      </fieldset>
  </div>


</body>
</html>