<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单派发</title>
    <style type="text/css">
        html
        {
            height:100%;
            margin:0;
        }
        body
        {
            height:100%;
            margin:0;
        }
        select{width:200px;}
    </style>
    <link href="../css/distributeMap.css" rel="stylesheet" type="text/css" />

    <script src="https://webapi.amap.com/maps?v=1.3&key=fcff9add7388792d2afc071dbd12e639"></script>
    <script type="text/javascript" src="../js/distributeIndentMap.js"></script>
    <script type="text/javascript" src="../js/commonPlugin.js"></script>
    <script type="text/javascript" src="../js/distributeIndent.js"></script>

</head>
<body>
<h4>未完成订单</h4>
<select id="undoneIndent" name="undoneIndent"></select>
<div>
    <h4>订单信息</h4>
    <table border="1">
    <form id="form">


    姓名：<input type="text" id="customerName" name="customerName" />
    微信号：<input type="text" id="wechatId" name="wechatId"/><br/>
    固定电话：<input type="text" id="telephone" name="telephone"/>
    移动电话：<input type="text" id="cellphone" name="cellphone"/><br/>
    车型：<input type="text" id="automobileType" name="automobileType"/>
    车牌号：<input type="text" id="licensePlateNumber" name="licensePlateNumber"/><br/>

    下单时间：<input type="text" id="createTime"name="createTime"/>
    收货地址：<input type="text" id="address" name="address"/><br/>
    电池品牌：<input id="batteryType" name="batteryType"/><br/>


    </form>
    </table>
</div>
<div id="container" tabindex="0" style="width:100%; height:65%"></div>






</body>
<!--<script type=\"text/javascript\" src="https://webapi.amap.com/demos/js/liteToolbar.js" asyns></script>-->
</html>