<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonPlugin.js"></script>
    <script type="text/javascript" src="../js/userInfoManage.js"></script>
    <title>用户信息管理</title>
</head>
<body>
     <div>
         <ol>
             <li><a href="#" id="customer">客户信息管理</a></li>
             <li><a href="#" id="staff"> 客服信息管理 </a></li>
             <li><a href="#" id="admin">管理员信息</a></li>
             <li><a href="#" id="technician">技术人员信息</a></li>
         </ol>
     </div>
     <input id="type" type="hidden"/>
     <label id="caption"></label>
     <br/>
     <div id="Table" class="body">

         <table id="tb" class="table table-hover  table-condensed">

         </table>
     </div>
</body>
</html>