<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>我们的百分努力换您十分满意</title>
    <link rel="stylesheet" type="text/css" href="../css/wxCusEvaluation.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>


        <script type="text/javascript" src="../plugin/jquery-3.2.1.js" ></script>
    <script type="text/javascript" src="../js/wxCusEvaluation.js" ></script>
</head>
<body>
<h3>订单评价</h3>
<div class="box">
    <div class="list1">
        <label>产品质量</label>
        <a href="#" class="star1">★</a>
        <a href="#" class="star2">★</a>
        <a href="#" class="star3">★</a>
        <a href="#" class="star4">★</a>
        <a href="#" class="star5">★</a>
        <span class="remark1"></span>
    </div>


    <div class="list2">
        <label>技师服务</label>
        <a href="#" class="star1">★</a>
        <a href="#" class="star2">★</a>
        <a href="#" class="star3">★</a>
        <a href="#" class="star4">★</a>
        <a href="#" class="star5">★</a>
        <span class="remark2"></span>
    </div>


    <div class="list3">
        <label>送达速度</label>
        <a href="#" class="star1">★</a>
        <a href="#" class="star2">★</a>
        <a href="#" class="star3">★</a>
        <a href="#" class="star4">★</a>
        <a href="#" class="star5">★</a>
        <span class="remark3"></span>
    </div>



</div>
<div style="text-align: center">
<button id="evaSubmit">提交</button>
</div>
<div style="text-align: center;width: 100%;bottom:0px;position: absolute"><img style="width: 100% ;height:auto" src="../images/weixin/battery.jpg"></div>
</body>
</html>
