# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
.gitignore
.idea/dataSources.local.xml
.idea/dataSources/
.idea/workspace.xml
src/test/java/com/wx/
target/classes/com/iot/
target/generated-sources/
target/generated-test-sources/
target/test-classes/com/iot/
/target/
/.idea/
