<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单导入</title>
    <style type="text/css">
        select{width:100px;}
    </style>
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <script type="text/javascript" src="../js/importOrder.js"></script>
</head>
<body>
<div>
<form>
    <h1>订单导入</h1>
    <h3>客户信息</h3>
    姓名：<input type="text" id="name"/>
    微信号：<input type="text" id="weixinId"/><br/>
    固定电话：<input type="text" id="telephone"/>
    移动电话：<input type="text" id="cellphone"/><br/>
    车型：<select></select>
    车牌号：<input type="text" id="motorcycle_type"/><br/>
    <h3>订单信息</h3>
    下单时间：<input type="date"/>
    收货地址：<select id="province" name="province"></select><select id="city" name="city"></select><select id="area" name="area"></select>
    详细地址：<input type="text" id="detailAdress" name="detailAdress"/><br/>
    电池型号：<select></select><br/>

    附加信息：<input type="text" id="remark">
    订单状态：<input type="text"/>

</form>

</div>
</body>
</html>