<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <script type="text/javascript" src="../js/importIndent.js"></script>
    <script type="text/javascript" src="../js/indentState.js"></script>
    <script type="text/javascript" src="../js/indentManage.js"></script>

    <title>订单监控</title>
</head>
<body>
   <label>省份</label><select id="province" name="province" style="width: 150px;"></select>
   <label>城市</label><select id="city" name="city"  style="width: 150px;"></select>
   <br>
   <label>订单状态</label><select id="indentState" style="width: 150px;" name="indentState"></select>
   <div>
        <table border="1" cellspacing="0">
            <thead>
                  <tr>
                       <td>序号</td>
                       <td>订单编号</td>
                       <td>电池型号</td>
                       <td>客户姓名</td>
                       <td>客户手机号</td>
                       <td>客户固定电话</td>
                       <td>微信号</td>
                       <td>地址</td>
                       <td>车型</td>
                       <td>车品牌</td>
                       <td>城市编码</td>
                       <td>下单时间</td>
                       <td>订单状态</td>
                       <td>备注</td>
                  </tr>
            </thead>
            <tbody id="orderBody"></tbody>
        </table>
   </div>

</body>
</html>