<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>

</head>
<body>
<h1>欢迎登陆</h1>
<form  id="form">
    <label for="name">名字:</label>
    <input type="text" name="name" id="name"/><br/>
    <label for="password">密码:</label>
    <input type="text" name="password" id="password"/><br>
    <label >身份:</label>
    <input type="radio" name="role" value="staff">客服
    <input type="radio" name="role" value="admin">管理员<br/>
    <input type="button" value="登陆" id="submit"><br/>
    <label id="errorMsg"></label>
</form>
</body>
</html>