<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
</head>
<body>
    <h1>欢迎注册</h1>

    <form  id="form">
        <label id="name1" for="name">姓名:</label>
        <input type="text" name="name"  id="name"/><br/>
        <label for="password">密码:</label>
        <input type="text" name="password" id="password"/><br/>
        <label for="confirmPassword">确认密码:</label>
        <input type="text" name="conPassword" id="ConfirmPassword"/><br/>
        <label>身份:</label>
        <input type="radio" name="role" value="CSA" >客服
        <input type="radio" name="role" value="admin">管理员
        <input id="submit" type="button" value="submit">
    </form>
</body>
</html>