<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <script type="text/javascript" src="../js/technicianInfoComplete.js"></script>
    <script type="text/javascript" src="../js/sexStandardization.js"></script>
    <script type="text/javascript" src="../js/importIndent.js"></script>
    <title>技术人员信息完善</title>
</head>
<body>
<form id="form">
    <div style="padding-left: 440px;padding-top: 20px;">
        <h2>技术人员信息完善</h2>
    </div>
    <div style="padding-left: 400px;padding-top: 20px;">
        <table>
            <tr>
                <td><label>技师编号：</label></td>
                <td> <input id="technicianId" name="technicianId" type="text" /></td>
            </tr>
            <tr>
                <td><label>登录名：</label></td>
                <td> <input id="loginName" name="loginName" type="text"  readonly="true"/></td>
            </tr>
            <tr>
                <td><label>密码：</label></td>
                <td><input id="password" name="password" type="password"  /></td>
            </tr>
            <tr>
                <td><label>姓名：</label></td>
                <td> <input id="name" name="name" type="text"  /></td>
            </tr>
            <tr>
                <td><label> 性别：</label></td>
                <td>
                    <div id="sex1">
                        <input id="sex" name="sex" type="text"/>
                    </div>
                    <div id="sex2" style="display: none">
                        <select id="sexType" style="width: 100px"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label> 手机号：</label></td>
                <td><input id="cellphone" name="cellphone" type="text" /></td>
            </tr>
            <tr>
                <td><label> 固定电话：</label></td>
                <td><input id="telephone" name="telephone" type="text" /></td>
            </tr>
            <tr>
                <td><label> 邮箱：</label></td>
                <td><input id="email" name="email" type="text" /></td>
            </tr>
            <tr>
                <td><label> 身份证号：</label></td>
                <td><input id="idNumber" name="idNumber" type="text" /></td>
            </tr>
            <tr>
                <td><label> 地址：</label></td>
                <td>
                    <div id="address1">
                        <input id="address" name="address" type="text" />
                    </div>
                    <div  id="address2" STYLE="display: none">
                        省：<select id="province" name="province" style="width: 100px"></select>
                        市：<select id="city" name="city" style="width: 100px"></select>
                        区：<select id="area" name="area" style="width: 100px"></select>
                        <p/>
                        详细地址： <input type="text" id="detailAddress" name="detailAddress"/>
                        <input type="button"  id="finish" value="完成">
                        <input type="button"  id="cancel" value="取消">
                    </div>

                </td>

                </td>
            </tr>
            <tr><td><label> 车牌号：</label></td>
                <td><input id="licensePlateNumber" name="licensePlateNumber" type="text" /></td>
            </tr>
            <tr><td><label> 机构编号：</label></td>
                <td><input id="organizationId" name="organizationId" type="text"  readonly="true"/></td>
            </tr>
        </table>
        <label id="showMsg"></label>
        <div style="margin-left: 90px;margin-top: 20px;">
            <input id="submit" type="button" value="提交"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="userInfoManage.html" style="text-decoration: none">返回</a>
        </div>
    </div>
</form>
</body>
</html>