<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获取的个人信息</title>
</head>
<body>
<h1>用户标识:<span th:text="${openId}"></span></h1>
<h1> 用户昵称：<span th:text="${nickname}"></span></h1>
<h1> 性别：<span th:text="${sex}"></span></h1>
<h1> 用户所在国家：<span th:text="${country}"></span></h1>
<h1> 用户所在省份：<span th:text="${province}"></span></h1>
<h1> 用户所在城市:<span th:text="${city}"></span></h1>
<h1> 使用语言:<span th:text="${language}"></span></h1>
<h1> 用户头像:<span th:text="${headimgurl}"></span></h1>
</body>
</html>