<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/commonplugin.js"></script>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/workInformation.js"></script>
    <title>工作人员信息完善</title>
</head>
<body>
<form id="form">
    <div style="padding-left: 440px;padding-top: 20px;">
         <h2>工作人员信息完善</h2>
    </div>
    <div style="padding-left: 400px;padding-top: 20px;">
        <table>
            <tr>
                <td><label>登录名：</label></td>
                <td> <input id="loginName" name="loginName" type="text"  readonly="true"/></td>
            </tr>
            <tr>
                <td><label>密码：</label></td>
                <td><input id="password" name="password" type="password"  readonly="true"/></td>
            </tr>
            <tr>
                <td><label>姓名：</label></td>
                <td> <input id="name" name="name" type="text"  /></td>
            </tr>
            <tr>
                <td><label> 手机号：</label></td>
                <td><input id="cellphone" name="cellphone" type="text" /></td>
            </tr>
            <tr>
                <td><label> 固定电话：</label></td>
                <td><input id="telephone" name="telephone" type="text" /></td>
            </tr>
            <tr>
                <td><label> 邮箱：</label></td>
                <td><input id="email" name="email" type="text" /></td>
            </tr>
            <tr>
                <td><label> 身份证号：</label></td>
                <td><input id="idNumber" name="idNumber" type="text" /></td>
            </tr>
            <tr>
                <td><label> 地址：</label></td>
                <td><input id="address" name="address" type="text" /></td>
            </tr>
            <tr><td><label> 类型：</label></td>
                <td><input id="role" name="role" type="text"  readonly="true"/></td>
            </tr>
        </table>
        <label id="showMsg"></label>
        <div style="margin-left: 90px;margin-top: 20px;">
            <input id="submit" type="button" value="提交"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="index.html" style="text-decoration: none">返回</a>
        </div>
    </div>
</form>
</body>
</html>