.position{
    position: fixed;
    left: 460px;
    top: 160px;
    background-color: whitesmoke;
    width: 490px;
    height:320px;
    border-style: outset;
}
body{
    background-image: url('../bgimg/loginbg.jpg');
}

.container{
    width: 460px;
    height: 80px;
    font-size: 30px;
    font-style: oblique;
    font-family: '楷体';
    border-bottom-style: ridge;
    border-bottom-width: thin;
}